@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


header{
   
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
   
}

header .logo{
    
    color: rgb(255, 20, 110);
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    padding-left: 40px;
}
header .navigation{
    position: relative;
    display: flex;
 
  
}
.vary{
    color: #f2f2f2;
    margin-left: 90px;
    background: rgb(255, 20, 110);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
    font-size: 16px;
}
header .navigation li a{
    text-decoration: none;
    color: rgb(248, 242, 242);
    font-weight: 300;
}
header.sticky .navigation li a{
    color: rgb(245, 236, 236);
}
header .navigation li a:hover{
    color:  rgb(241, 66, 95);
}
@media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }
  .slideshow-container {
   background-image: url(refer1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
    height: 800px;
   
  }
  .overla{
    background-image: linear-gradient(90deg,  rgba(10, 9, 9, 0.589), rgba(109, 53, 67, 0.507));
    height: 800px;
}
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
   padding-top: 250px;
   padding-left: 150px;
   
    position: relative;
  }
  .btn{
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 12px;
      padding-right: 12px;
     
      margin-top: 18px;
      border: none;
      color: #fff;
      background: rgb(241, 66, 95);
  }
  .served{
    background-image: url(group.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 300px;
  }
  .arial1{
      background: #111;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
     color: #f2f2f2;
  }
  .arial1 h2{
      padding-top: 30px;
  }
.colap{
    background: rgba(243, 46, 79, 0.712);
    display: flex;
}
.per{
    color: #f2f2f2;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 30px;
   margin-right: 500px;
}
.per h3{
    font-size: 32px;
    font-weight: 600;
}
.per p{
    font-size: 18px;
    font-weight: 300;
}
   
  .text1{
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 300;
  }
  .text2{
      font-size: 36px;
      font-weight: 800;
  }
  .text3{
      color: rgb(236, 240, 8);
    font-size: 36px;
    font-weight: 800;
}
.about{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 90px;
    display: flex;
  
}
.me2{
       margin-top: 24px;
    width: 70px;
   margin-left: 200px;
    background-color: rgb(241, 66, 95);
    border: 0 none;
    height: 5px;
   color: rgb(241, 66, 95);
  
}
.me12{
   
    width: 70px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
  background: rgb(241, 66, 95);
    border: 0 none;
    height: 5px;
   color: rgb(241, 66, 95);
   
   }

.me9{
   
 width: 70px;
 margin-right: 20px;
 margin-top: 16px;
 margin-bottom: 10px;
 background-image: linear-gradient(90deg,  #2a0135, rgb(241, 19, 19));
 border: 0 none;
 height: 5px;
color: rgb(241, 66, 95);

}
.me10{
   
    width: 70px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,  #2a0135, rgb(23, 117, 240));
    border: 0 none;
    height: 5px;
   color: rgb(241, 66, 95);
   
   }
   .me11{
   
    width: 70px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
    background-image: linear-gradient(90deg,  #2a0135, rgb(49, 190, 6));
    border: 0 none;
    height: 5px;
   color: rgb(241, 66, 95);
   
   }
.us{
    font-size: 36px;
    padding-left: 30px;
}
.intent{
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 80px;
   flex: 1;
  
   padding-right: 200px;
   padding-left: 150px;
}
.us1{
    font-size: 36px;
    padding-left: 30px;
    color: #fff;
}
.intent1{
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    padding-bottom: 80px;
   flex: 1;
   color: #fff;
   padding-right: 200px;
   padding-left: 150px;
}

.draw{
    padding-right: 80px;
 flex: 1;
  
}
.smile{
    display: flex;
    padding-bottom: 150px;
}
.girl{
    width: 530px;
    height: 400px;
    padding-left: 100px;
    padding-right: 50px;
    flex: .8;
}
.sub {
    font-size: 22px;
    font-weight: 400;
    color: rgb(241, 66, 95);
}
.sub1 {
    font-size: 22px;
    font-weight: 400;
    color: rgb(241, 66, 95);
}
.para{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 40px;
}
.para1{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 40px;
}
.para2{
    font-size: 16px;
    font-weight: 300;
}


.container2{
    background: #2a0135;
    padding-bottom: 200px;
}
.issue{
    width: 180px;
    height: 180px;
}


.chart{
    display: flex;
   text-align: center;
  
}
.table{
    padding-left: 100px;
    padding-right: 100px;

   display: flex;
}
.table1{
    padding-left: 100px;
    padding-right: 100px;
  padding-top: 100px;
   display: flex;
}
.over{
   flex: .5;
   padding-left: 10px;
   padding-right: 10px;
   
}
.legal{
    color: rgb(240, 238, 238);
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.para3{
    font-size: 14px;
    font-weight: 300;
    color: rgb(218, 214, 214);
}

.recover1{
    width: 310px;
    height: 410px;
   padding-right: 150px;
    padding-bottom: 20px;
    flex: .5;
   
}
.first{
  border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
   background: #fff;
   padding-top: 30px;
padding-bottom: 30px;
padding-left: 36px;
padding-right: 36px;
}
.first2{
    border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
   background: #fff;
   padding-top: 46px;
padding-bottom: 46px;
padding-left: 36px;
padding-right: 36px;
}
.first3{
    border: 4px solid rgb(241, 66, 95);
    margin-top: 160px;
    margin-left: 50px;
   background: #fff;
   padding-top: 46px;
padding-bottom: 46px;
padding-left: 36px;
padding-right: 36px;
}
.arial{
    color: rgb(238, 234, 234);
    margin-left: 50px;
}
.temp{
  font-size: 18px;
  padding-top: 18px;
  font-weight: 400;
}
.cont{
font-size: 10px;
padding-top: 18px;
color: rgba(255, 255, 255, 0.425);
font-weight: 600;
}
.paragraph{
 font-size: 13px;
 padding-top: 18px;
 font-weight: 200;
}
.first1{
    border: 4px solid rgb(241, 66, 95);
    margin-left: 50px;
margin-top: 160px;
background: #fff;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 36px;
padding-right: 36px;
}
.comp{
    width: 200px;
    height: 40px;
 
}
.comp1{
    width: 200px;
    height: 70px;
 
}
.comp3{
    width: 200px;
    height: 70px;
 
}
.comp2{
    width: 200px;
    height: 70px;
 
}
.fle{
    display: flex;
    margin-right: 60px;
   
}
.fle1{
    display: flex;
    margin-right: 60px;
   
}
.btn9{
    margin-left: 600px;
    margin-top: 80px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 12px;
     padding-right: 12px;
   color: #fff;
   background:rgb(241, 66, 95);
     border: none;
    
 }
 .btn10{
    margin-left: 600px;
    margin-top: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 12px;
     padding-right: 12px;
   color: #fff;
   background:rgb(241, 66, 95);
     border: none;
    margin-bottom: 200px;
 }
.container4{
    background: black;
    padding-bottom: 200px;
}


.ready{
    background: rgb(241, 66, 95);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.btn1{
   margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  color: #fff;
  background:rgb(241, 66, 95);
    border: none;
   
}
.grow{
    font-size: 24px;
    color: #f2f2f2;
}
.btn3{
  margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
  color: #fff;
  background:rgb(241, 66, 95);
  border: 1px solid #f2f2f2;
   
}
.vary:hover {
     color: rgb(241, 66, 95);
     background: #fff;
    
}
.btn:hover{
    color: rgb(241, 66, 95);
     background: #fff;
}
.btn1:hover{
    color: rgb(241, 66, 95);
     background: #fff;
}
.review{
    display: flex;
    margin-bottom: 100px;
    background: rgb(240, 237, 237);
}
.view{
    height: 250px;
    width: 310px;
    border-bottom: 1px solid black;
    border-left: 1px solid black ;
    margin-left: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    transform: translate(42%, 0);
}
.view1{
   
    margin-right: 200px;
   color: #111;

}
.view2{
  padding-left: 160px;
  padding-top: 40px;
  padding-right: 30px;
  color: #111;
  font-weight: 500;
}
.view3{
    padding-left: 160px;
    padding-top: 20px;
    font-size: 16px;
    color: #111;
    font-weight: 300;
  }
  .view4{
    padding-left: 160px;
    color: #111;
    padding-bottom: 10px;
    font-weight: 400;
  }
  .review .view1 .view2 .fa{
      font-size: 36px;
      color: rgb(241, 66, 95);
      padding-right: 10px;
  }
  .container3{
    background: rgba(224, 222, 222, 0.267);
  }
  .different{
      color: #f2f2f2;
      display: flex;
   
  }
  .coom{
      display: flex;
      padding-top: 60px;
      padding-left: 100px;
      padding-bottom: 100px;
      
  }
  .excellent{
      flex: 1;
      font-size: 28px;
      padding-left: 100px;
  }
  .teach{
      flex: 1;
      padding-right: 140px;
      font-weight: 200;
      color: #f2f2f2b2;
  }
  .coom .fa{
      color: rgb(241, 66, 95);
      padding-right: 10px;
      padding-top: 14px;
  }
  .me3{
    width: 60px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgb(241, 66, 95);
    border: 0 none;
    height: 2px;
   color: rgb(241, 66, 95); 
  }
  .me4{
    width: 1000px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgba(241, 66, 95, 0.418);
    border: 0 none;
    height: 0.5px;
   color: rgba(241, 66, 95, 0.432); 
  }
  .footer{
    background: rgb(10, 10, 10);
  }
  .better{
    display: flex;
    
    padding-left: 250px;
  
   border-radius: 8px;
 }
 .stay{
   color: whitesmoke;
    
 }
 .stay1{
   
    font-size: 26px;
    font-weight: 600;
    padding-top: 50px;
 }
 
 .code{
    
     padding-top: 50px;
     padding-left: 60px;
    
     margin-right: 10px;
  
    
 }
 form {
     /* This bit sets up the horizontal layout */
     display:flex;
     flex-direction:row;
    
     /* This bit draws the box around it */
   
   
     /* I've used padding so you can see the edges of the elements. */
    
   }
   
   input {
     /* Tell the input to use all the available space */
     
     /* And hide the input's outline, so the form looks like the outline */
    border: none;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 6px;
     padding-right: 100px;
    background: rgba(243, 241, 241, 0.308);
    width: 300px;
    
   }
   
   input:focus {
     /* removing the input focus blue box. Put this on the form if you like. */
     outline: none;
   }
   
   button {
     /* Just a little styling to make it pretty */
     border: none;
     background:white;
    padding-left: 30px;
     padding-right: 30px;
  font-weight: 700;
     color: rgb(143, 2, 25);
   }
   .stra{
     margin-top: 50px;
    
    
    background-color: rgba(241, 66, 95, 0.432);
    border: 0 none;
    height: 1px;
   color: rgba(241, 66, 95, 0.425); 
  }
  .section{
      display: flex;
     padding-top: 50px;
     padding-bottom: 50px;
  }
  .idci{
       padding-left: 200px;
  }
  .home{
   padding-left: 600px;
  }
  .idci h2{
      color: #fff;
  }
  .icon{
    display: flex;
    list-style: none;
   
}
.ico{
   
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}
.ico .fa{
    text-decoration: none;
    color: #fff;
}
.ico .fa:hover{
    text-decoration: underline 2px solid  rgb(241, 66, 95);
    color: rgb(241, 66, 95);
}
.navigation1{
    list-style: none;
}
.navigation1 li a {
    color: rgba(255, 255, 255, 0.685);
    font-weight: 300;
    text-decoration: none;
}
.navigation1 li a:hover {
    color: rgb(241, 66, 95);
    
}
.copyrightText{
    text-align: center;
    color: rgb(24, 23, 23);
    background: #fff;
    font-size: 14px;
    font-weight: 600;
}
.copyrightText .fas{
    color: red;
}